<% layout('layouts/boilerplate') %>                                       
<body>
    <h3>All Listing</h3>
    <!-- <form method="GET" action="/listings/new">       
        <button>Create New Listing</button>
    </form> -->
<div class="row row-cols-lg-3 rows-cols-md-2 row-cols-sm-1">                         <!--In bootstap, .row class is used in the grid system to create horizontal groups of columns.-->
   <%for(let listing of allListing){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
 <div class="card col">
    <img 
       src="<%=listing.image%>"
       class="card-img-top" 
       alt="listing_image" 
       style="height: 20rem;"
    />
   <div class="card-img-overlay"></div>                                                    <!--Overlay brootstrap properties- on this we can add text on images and we add this tag just after image -->
  <div class="card-body">
    <p class="card-text">
        <b><%=listing.title%></b> <br>
       &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
    </p>
  </div>
</div>
    </a>
<%}%>    
    </div>

 <!--title serve as a link , on clicking it we get listing Id--> 
    <!-- <ul>
        <%for(let listing of allListing){%>
            <li> <a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>  
        <%}%>
    </ul> -->
</body>


<!--
final code
head part and body pary of biolerplate code ejs
and in 
<div class="container">
    body content of  index.ejs
</div>

//here we should remove html ,head and body tag of index.ejs code
//html,head tag is removed
//body tag is not removed , for our understanding
-->

 